<ul>
  <li><%= @booking.car.title %></li>
  <li><%= @booking.user.email %></li>
  <li><%= @booking.start_time %></li>
  <li><%= @booking.end_time %></li>
</ul>

<p><%= link_to "Back to car list", cars_path %></p>
