<ul>
  <li><%= @booking.car.title %></li>
  <li><%= @booking.user.email %></li>
  <li><%= @booking.booking_start_date %></li>
  <li><%= @booking.booking_end_date %></li>
</ul>

<p><%= link_to "Back to car list", cars_path %></p>
