<div class="banner" style="background-image: linear-gradient(rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'M4.jpg' %>');">
  <div class="banner-content">
    <input type="text" placeholder="Location...">
    <i class="ico-search mr-1 inline-block md:mr-1 xs:mr-0"></i>
    <button type="button" name="button" class="search-btn btn-green text-center w-1/5 rounded-r-full lg:pl-0 lg:pr-1">Search</button>
  </div>
</div>
<div class="container">
  <div class="row" style="width:100%">
    <% @cars.each do |car| %>
      <div class="col-sm-3">
        <h2>Title: <%= link_to car.title, car_path(car) %></h2>
        <%= car.brand %>
        <%= car.model %>
        <div class="card-category">
          <img class="card-image" src="<%= car.photo %>" alt="">
        </div>
        <%= car.city%>
        <br>
        <%= car.price %>
      </div>
    <% end %>
  </div>
</div>
<h1><%= link_to "List a new car", new_car_path, class: "btn btn-primary btn-lg" %></h1>
