<div class="container">
  <div class="row" style="width:100%">
    <% @cars.each do |car| %>
      <div class="col-sm-3">
        <%= car.brand %>
        <%= car.model %>
        <div class="card-category">
          <img class="card-image" src="<%= car.photo %>" alt="">
        </div>
        <%= car.city%>
        <br>
        <%= car.price %>
      </div>
    <% end %>
  </div>
</div>

<% if policy(Car).new? %>
<h1><%= link_to "List a new car", new_car_path, class: "btn btn-primary btn-lg" %></h1>
<% end %>
