<ul>
  <li><%= @car.title %></li>
  <li><%= @car.brand %></li>
  <li><%= @car.model %></li>
  <li><%= @car.year %></li>
  <li><%= @car.price %></li>
  <li><%= @car.description %></li>
  <li><%= @car.photo %></li>
  <li><%= @car.address %></li>
  <li><%= @car.city%></li>
</ul>

<p><%= link_to "Edit your car", edit_car_path %></p>
<p><%= link_to "Delete car", car_path(@car),
  method: :delete,
  data: { confirm: "Are you sure?" } %></p>


<p><%= link_to "Back to car list", cars_path %></p>
