<ul>
  <li><%= @car.title %></li>
  <li><%= @car.brand %></li>
  <li><%= @car.model %></li>
  <li><%= @car.year %></li>
  <li><%= @car.price %></li>
  <li><%= @car.description %></li>
  <li><%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %></li>
  <li><%= @car.address %></li>
  <li><%= @car.city%></li>
</ul>

<p><%= link_to "Book this car", new_car_booking_path(@car) %></p>

<% if policy(@car).edit? %>
<p><%= link_to "Edit your car", edit_car_path %></p>
<% end %>
<% if policy(@car).destroy? %>
<p><%= link_to "Delete car", car_path(@car),
  method: :delete,
  data: { confirm: "Are you sure?" } %></p>
<% end %>

<p><%= link_to "Book this car", new_car_booking_path(@car) %></p>
<p><%= link_to "Back to car list", cars_path %></p>

<p>Reviews for this car</p>
<ul>
  <% @car.reviews.each do |review| %>

    <li><%= review.content %> Rating: <%= review.rating %> </li>

  <% end %>
</ul>

<p><%= link_to "Add a review", new_car_review_path(@car) %></p>

