<div class="addstyle">
  <ul class="fontf">
    <li class="title-color"><h1><%= @car.title %></h1></li>
    <li><h3><%= @car.brand %><h3></li>
    <li><h3><%= @car.model %><h3></li>
    <li><%= @car.year %></li>
    <li><%= @car.price %></li>
    <li><%= @car.description %></li>
    <li><%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %></li>
    <li><%= @car.address %></li>
  </ul>

  <% if policy(@car).edit? %>
  <p><%= link_to "Edit your car", edit_car_path %></p>
  <% end %>
  <% if policy(@car).destroy? %>
  <p><%= link_to "Delete car", car_path(@car),
    method: :delete,
    data: { confirm: "Are you sure?" } %></p>
  <% end %>

  <p><%= link_to "Book this car", new_car_booking_path(@car) %></p>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
          <% if !@bookings.nil? %>
            <%= month_calendar events: [@bookings] do |date, bookings| %>
              <%= date.to_formatted_s(:short) %>

              <% bookings.each do |bookings| %>
                <div>
                  <%= @car.title %>
                </div>
              <% end %>
            <% end %>
           <% else %>
             <%= month_calendar do |date| %>
             <%= date.to_formatted_s(:short) %>
        <% end %>
     <% end %>
      </div>
    </div>
  </div>

  <p><%= link_to "Back to car list", cars_path %></p>

  <p>Reviews for this car</p>
  <ul>
    <% @car.reviews.each do |review| %>

      <li><h2><%= review.content %> Rating: <%= review.rating %></h2></li>

    <% end %>
  </ul>

  <p><%= link_to "Add a review", new_car_review_path(@car) %></p>
</div>
