

<div class="container">
<div class="car-container-top">
  <div>
    <%= link_to "< Back to car list", cars_path,class: "links_text_pages" %></p>
    <h2 class="text-inline h1_text_pages"><%= @car.title %></h2>
    <span><%= @car.average_rating %></span>⭐
    <p><% if policy(@car).edit? %>
    <%= link_to "Edit", edit_car_path, class: "links_text_pages" %>
    <% end %>
    <% if policy(@car).destroy? %> |
    <%= link_to "Delete", car_path(@car), class: "links_text_pages",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% end %></p>
    <%= cl_image_tag @car.photo, height: 500, width: 550, crop: :fill %>
    <p class="links_text_pages_p"><%= @car.address %></p>
  </div>
  <div class="car-container-booking">
    <%#= link_to "Book this car", new_car_booking_path(@car),class: "purple-button" %>

    <!-- Button trigger modal -->
    <button type="button" class="purple-button" data-toggle="modal" style="width: 200px;" data-target="#exampleModal">
      Book this car
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
<!--             <p class="text-time">Current time: <%= Time.current.to_formatted_s(:time) %>
            <%=Date.today.strftime("%a, %e %b %Y") %></p> -->
            <div>
              <h5 class="modal-title" id="exampleModalLabel">Booking Table</h5>
            </div>
            <div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <%= render "bookings/new", car: @car, booking: Booking.new %>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>
    <p></p>
    <h2><%= @car.price %> £ / day</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">

          <% @any_bookings = false %>

          <% @bookings.each do |booking| %>
            <% if params[:id].to_i == booking.car_id %>
             <% @any_bookings = true %>
              <%= month_calendar events: [booking] do |date, booking| %>
                <%= date.to_formatted_s(:short) %>
                <% booking.each do |booking| %>
                  <div>
                    <% @car.title %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if @any_bookings  == false %>
            <%= month_calendar do |date| %>
              <%= date.to_formatted_s(:short) %>
                <div>
                  <% @car.title %>
                </div>
              <% end %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>



  <div class="middle-container">
    <div>
      <h4><%= @car.brand %> - <%= @car.model %>, <%= @car.year %></h4>
    </div>
      <hr>
    <div class="description-container">
      <h4>Description</h4>
      <p><%= @car.description %></p>
    </div>
  </div>
    <hr>
  <div class="bottom-container">
  </div>

</div>


  <div class="container container-bottom">
    <h2 class ="h1_text_pages">Reviews & Comments</h2>
      <% @car.reviews.each do |review| %>
        <div class="review-container">
          <div class="review-rating">
            '<%= review.rating %>'
          </div>
          <div class="review-content">
            "<%= review.content %>"
          </div>
        </div>
      <% end %>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 h1_text_pages">

      <h1>Add a review</h1>

      <%= simple_form_for [@car, @review], remote: true do |f| %>
        <%= f.input :content %>
        <p>Rating</p>
        <%= f.select :rating, [['Fabulous', 5],['Pretty neat', 4],['Definition of average', 3],['Poor (sad face)', 2],['Appalling',1,]] %>
        <p></p>
        <%= f.submit "Leave your review" %>
      <% end %>

    </div>
  </div>
</div>
