<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">

      <h1>Add a review</h1>

      <%= simple_form_for [@car, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, as: :integer %>
        <%= f.submit "Add a review" %>
      <% end %>

      <p><%= link_to @car.title, car_path(@car) %></p>

    </div>
  </div>
</div>






<header class="header" style="background: #E20074;">
  <div class="my-navbar">
    <div class="topnav">
      <div class="logo"></div>
      <div class="name">
         <h1>Drive Away</h1>
      </div>

    </div>
  </div>
</header>
