<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Drive Away</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <header class="header" style="background: #E20074;">
      <div class="my-navbar">
        <div class="topnav">
          <div class="logo">
          </div>
          <div class="name">
             <h1 style="font-size: 60px; margin-bottom: 10px;line-height: 62px; color: #ffffff;">Drive Away</h1>
          </div>
          <div class="links">
            <%= link_to "Sign In", user_session_path, class: "nav-link" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </div>
        </div>
        <!-- <div class="bottomnav">
          <div class="slogan">

          </div>
          <div class="links">

          </div>
        </div> -->
      </div>
    </header>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <footer>
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          <p>2019 Drive Away, All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
